.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.logo {
    width: 100px;
}

.nav-items>ul {
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
    font-size: 24px;
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}
.nav-items>ul>li>a{
    text-decoration: none;
    color: #0f0f0f;
}
.nav-items>ul>li>a:hover{
    color: #3f3f3f;
}


.restaurant-card {
    width: 200px;
    /* height: fit-content; */
    padding: 5px;
    border: 1px solid transparent;
    margin: 5px;
}

.restaurant-card:hover {
    border-color: #000;
    cursor: pointer;
}

.search {
    padding: 10px;

}

.res-logo {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-btn {
    cursor: pointer;
    margin: 10px;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.shimmer-card {
    height: 300px;
    width: 200px;
    background-color: #f0f0f0;
    margin: 20px;
}
.login_btn{
    padding: 0 20px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.link{
    text-decoration: none;
    text-decoration: none;
    color: unset;
}
.user-card{
    padding: 10px;
    border: 1px solid #000;
}